/* Reset básico para remover margens e paddings padrão */
body, h1, h2, h3, h4, h5, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6; 
}

/* Estilo do cabeçalho */
header {
    background-color: #29284c;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

/* Contêiner comum */
.container {
    width: 80%;
    margin: auto;
    padding: 1em 0;
}

header h1, main h2, main h3, main h4, main h5 {
    margin-bottom: 0.6em;
    color: #333;
}

/* Cor específica para o h1 no cabeçalho */
header h1 {
    color: #ffffff; /* Escolha a cor desejada */

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo do conteúdo principal */
main {
    padding: 1em 0;
}

main p {
    margin-bottom: 1.3em; 
    line-height: 1.5; 
}

/* Estilo dos links */
main a {
    color: #007BFF;
    text-decoration: none;
    margin-bottom: 0.6em;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 1em;
    }

    nav ul li {
        display: block;
        margin: 0;
    }
}

/* Estilo das listas personalizadas */
.custom-list {
    padding-left: 1em; 
    margin: 0; 
}

.custom-list li {
    padding-left: 0.5em;  
    text-indent: 0;   
}

main h5 {
    margin-top: 20px;
}
