/* Reset básico */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

header .container {
    width: 80%;
    margin: auto;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Conteúdo Principal */
main .container {
    width: 80%;
    margin: auto;
    padding: 2em 0;
}

main section {
    margin-bottom: 2em;
}

main h2 {
    font-size: 1.5em;
    color: #333;
    margin-top: 1em; /* Espaço acima dos parágrafos */
    margin-bottom: 1em; /* Espaço abaixo dos parágrafos */
    line-height: 1.5; /* Espaçamento entre as linhas dentro dos parágrafos */
}

main article {
    margin-bottom: 1em;
}

main a {
    color: #007BFF;
    text-decoration: none;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Responsividade */
@media (max-width: 768px) {
    header .container, main .container, footer .container {
        width: 100%;
        padding: 0 1em;
    }

    nav ul li {
        display: block;
        margin: 0;
    }
}
